.places-box {
  width: 200px;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.places-text {
  margin: 0;
  font-family: "Franklin Gothic Condensed", "Franklin Gothic", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  width: 200px;
  display: block;
  color: black;
}
