.box-outer {
  width: 100%;
  position: absolute;
}

.image-container {
  /* position: absolute; */
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  width: 9%;
  min-width: 9%;
  border: 1px dotted transparent;
  height: 100px;
}
